body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

.box {
  background-color: #E27474;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.box:hover {
  box-shadow: inset 1px 2px 10px 0px black;
  transform: scale(0.95);
}

.date {
  font-size: 4rem;
}