body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  background-color: #E27474;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 6px solid transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.box:hover {
  border: 6px solid black;
  box-shadow: inset 1px 2px 10px 0px black;
  transform: scale(0.9);
}

/* .box:hover .date {
  font-size: 3.9rem;
}

.box:hover .day {
  font-size: 0.9rem;
} */

.date {
  font-size: 4rem;
}