/* ==========================
	Write your solution here!
========================== */
   
body {
  margin: 0;
  text-align: center;
  background-color: #a6e87d;
  font-family: 'Montserrat', sans-serif;
}

.card {
  padding: 1em;
}

.title {
  font-size: 3rem;
}

.card img {
  max-width: 200px;
  margin: 2em;
}

.card p {
  margin: 2em;
}

.info-label,
.end {
  font-size: 1.25rem;
  font-weight: 800;
}